@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1f1f1f;
}
nav {
  padding: 27px 59px;
  color: white;
}
nav > span {
  font-size: 48px;
  font-weight: 700;
}
nav input {
  margin-left: 101px;
  width: 597px;
  height: 53px;
  background-color: #262626;
  border-radius: 15px;
  border: none;
}
::placeholder{
    font-family: Roboto;
font-size: 24px;
font-weight: 600;
line-height: normal;


}
